doctype html
html
  head  
    title nashrah naseem 
    block scripts
    block style
  body
    nav#navbar
          ul
            div#logo
                img(src="/static/logo.jpeg", alt="logo")
            li #[a(href="/") Home] 
            li #[a(href="/")  about]
            li #[a(href="/")  contact us] 
            li #[a(href="/")  services] 
    block content
    footer#footer
          | Copyright 2021 Nashrahnaseem.com .All rights reserverd. 