extends base.pug 
block scripts 
  script(src='/static/index.js')

block style 
    style  
      include ../static/style.css
block content 
    
     section#introsection
        | Welcome to the dancing club
        div#art Dance is art and art is life 
     section#missionsection
        h2 Our missions
        div.card 
         h2#t dance perfection
         div.cardbox 
           div.cardimg 
             img(src="/static/1.jpeg", alt="danxe perferction")
           div.cardcontent 
             p this is best dance academey
        div.card 
          h2#t dance the way like 
          div.cardbox 
           div.cardimg 
             img(src="/static/1.png", alt="danxe perferction")
           div.cardcontent 
             p this is best dance academey 
        div.card 
          h2#t compedition experts
          div.cardbox 
           div.cardimg 
             img(src="/static/3.png", alt="danxe perferction")
           div.cardcontent 
             p this is best dance academey 
     section#sponsersection
        h2 Our Sponsers
        div#sponser 
          img(src="/static/skype.jpeg", alt="skype")
          img(src="/static/paytm.png", alt="skype")
          img(src="/static/gpay.png", alt="skype")
          img(src="/static/hp.png", alt="skype")